Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
django-filter
psycopg2-binary
channels
channels-redis
daphne
celery
redis
django-celery-beat
reportlab
python-decouple
django-cors-headers
